@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

/**** 
60: #BE3144
30: #FFE4E3
10: #53B9C7
gradiet:  #CF8787 , #FFE4E3
****/

body {
  color: #ffe4e3;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input,
select,
select option {
  background: #ffe4e3;
  color: #be3144;
  border-radius: 2px;
}

input::placeholder,
select::placeholder {
  color: #be3144;
}
