@tailwind base;
@tailwind components;
@tailwind utilities;

/**** 
60: #BE3144
30: #FFE4E3
10: #53B9C7
gradiet:  #CF8787 , #FFE4E3
****/
body {
  color: #ffe4e3;
}

input,
select {
  background: #ffe4e3;
  color: #be3144;
}

input::placeholder,
select::placeholder {
  color: #be3144;
}
